.textDiv {
  a {
    font-size: 1rem;
    padding-right: 0.5rem;
    font-weight: bold;
  }
}

.image {
  margin: 0.4rem;
}

.card {
  border: 1px solid black;
  flex-direction: row;
  display: flex;
  height: 12.5rem;
  justify-content: flex-start;
}

.idContent {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}
